.home-container {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.option-card {
  background-color: #b6b7cb;
  color: black;
  width: 240px;
  height: 320px;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon-container {
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-icon {
  width: 100px;
  height: 100px;
}

.option-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.option-card:hover {
  background-color: #0056b3;
}
