<div class="home-container">
  <!-- Header Section -->
  <div class="header">
    <img
      src="assets/images/Imagen_Perfil.png"
      alt="Boat"
      class="header-image"
      height="100"
      width="100"
    />
    <h1>{{entrepreneurName}}</h1>
    <div class="header-icons">
      <img src="assets/images/globe.png" alt="Globe" class="header-icon" />
      <img src="assets/images/logout.png" alt="Logout" class="header-icon" (click)="logout()"/>
    </div>
  </div>
</div>
