<div class="request-status-container">
  <!-- Header -->
  <div class="header">
    <div class="header-left">
      <img
        src="assets/images/solicitudes_boton.png"
        alt="Solicitudes"
        class="header-icon-left"
      />
      <h1>Estado de Solicitudes</h1>
    </div>
    <div class="header-right">
      <a [routerLink]="['/entrepreneur/home']">
        <img
          src="assets/images/home-icon.png"
          alt="Home"
          class="header-icon-right"
        />
      </a>
    </div>
  </div>

</div>
